.right {
    width: 50%;
}

.left {
    background: #F1F7FF;
    border-radius: 30px;
    height: 524px;
    width: 50%;
}

.imagines {
    display: block;
    margin: 0 auto;
    padding-top: 65px;
    width: 392px;
    height: 392px;
}

.mid {
    display: flex;
    gap: 48px;
}

.promo {
    color: rgba(33, 37, 66, 0.9);
    width: 70px;
    height: 12px;
}

.promo_1 {
    font-family: Inter, sans-serif;
    padding-top: 24px;
    padding-bottom: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
}



.promo_2 {
    padding-bottom: 8px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}



.promo_3 {
    padding-bottom: 40px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    width: 498px;
    height: 198px;
}

.promoKod {
    background: #F2F2FA;
    border-radius: 26px;
    width: 132px;
    height: 28px;
    line-height: 28px;
}

.button_1 button {
    border-radius: 50%;
    background-color: #EEEEEE;
    font-size: 25px;
    border: none;
}

.top_botm {
    padding-top: 40px;
    padding-bottom: 30px;
}

.to_cart{
    padding-top: 48px;
}

.to_cart1 {
    background: linear-gradient(92.65deg, #DFEBFF -21.79%, #88ADCA 126.46%), #AECEF3;
    border-radius: 69px;
    width: 180px;
    height: 60px;
    color: #F1F7FF;
    border: 0;
}

.cart{
    font-weight: 500;
    font-size: 16px;
}

.money{
    font-weight: 400;
    font-size: 24px;
    line-height: 16px;
}

.button_1{
    display: flex;
    align-items: center;
    gap: 24px;
}

.amount button{
    width: 32px;
    height: 32px;
}

.amount{
    min-width: 108px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}