body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

.header_nav {
    display: flex;
    gap: 50px;
}

.header_all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 86px;
}

header {
    border-bottom: 1px solid #F8F8F8;
}

.header_nav_action {
    align-items: center;
    display: flex;
    gap: 10px;
}
