.header_nav {
    display: flex;
    gap: 50px;
}

.header_nav_action {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.header_nav_action_span {
    cursor: pointer;
}

.header_nav_basket{
    cursor: pointer;
    text-decoration: none;
    padding-left: 10px;
    color: #212542;
}